*-debug.log
*-error.log
.DS_Store
/.history
/.nyc_output
/.vscode/settings.json
/dist
/lib
/package-lock.json

/stuff
/temp
/tmp
node_modules
npm-shrinkwrap.json
oclif.manifest.json
yarn.lock

# reference DX project related
/referencedxproject/.sfdx
# ....SFDX SFDMU Plugin Related
/referencedxproject/data/**/logs/
/referencedxproject/data/**/source/
/referencedxproject/data/**/target/
/referencedxproject/data/**/MissingParentRecordsReport.csv
/referencedxproject/data/**/CSVIssuesReport.csv